# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\zakin\OneDrive\Desktop\Docs\Python\100 days of code - the complete python pro bootcamp for 2021\d20\snake_game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
